.container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}
