.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: antiquewhite;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}
#form-tugas input,
select {
  flex: 1;
  padding: 8px;
  border: 1px solid #939393;
  border-radius: 4px;
}
#form-tugas button {
  background-color: #2a6aff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#form-tugas button:hover {
  background-color: #0028a1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #363636;
  text-align: center;
}

th,
td {
  padding: 4px;
}
.hapus-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
}
.hapus-btn:hover {
  background-color: #cc0000;
}
#hapus-semua {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  gap: 4px;
  margin-bottom: 4px;
  float: right;
}
#hapus-semua:hover {
  background-color: #750505;
}
#FilterText {
  flex: 1;
  padding: 8px;
  border: 1px solid #939393;
  border-radius: 4px;
}
